<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="../css/style2.css" type="text/css" rel="stylesheet">
</head>
<body>
	<!-- ==================== header ============================ -->
	<header id="header">
		<h1 class="h1">뉴렉처 온라인</h1>
		<h1 id="h2">헤더</h1>
		<nav>
			<h1>메인메뉴</h1>
			<ul>
				<li><a href="aa.html">학습가이드</a></li>
				<li><a href="">강좌선택</a></li>
				<li><a href="">AnswerIs</a></li>
			</ul>
		</nav>
		<section>
			<h3>강좌검색 폼</h3>
			<form>과정검색</form>
		</section>
		<nav>
			<h3>회원메뉴</h3>
			<ul>
				<li><a href="">HOME</a></li>
				<li><a href="">로그인</a></li>
				<li><a href="">회원가입</a></li>
			</ul>
		</nav>
		<nav>
			<h3>자주 사용하는 메뉴</h3>
			<ul>
				<li><a href="">마이페이지</a></li>
				<li><a href="">고객센터</a></li>
			</ul>
		</nav>
	</header>
	<div id="visual"></div>
	<!-- ================ aside ================================ -->
	<div id="body">
		<aside>
			<h1>고객센터</h1>
			<h3>고객센터메뉴</h3>
			<ul>
				<li><a href="">공지사항</a></li>
				<li><a href="">자주하는 질문</a></li>
				<li><a href="">수강문의</a></li>
				<li><a href="">이벤트</a></li>
			</ul>
			<nav>
				<h1 id="main-menu" class="title">협력업체</h1>
				<ul>
					<li><a href=""><img src="/images/notepubs.png" alt="노트펍스"></a></li>
					<li><a href=""><img src="/images/namoolab.png"
							alt="나무랩연구소"></a></li>
					<li><a href=""><img src="/images/hanbit.png" alt="한빛미디어"></a></li>
				</ul>
			</nav>
		</aside>
		<!-- =============== main ================================= -->
		<main>
		<section>
			<h1 id="notice" class="title">공지사항</h1>

			<section>
				<h1>경로</h1>
				<ol>
					<li>home</li>
					<li>고객센터</li>
					<li>공지사항</li>
				</ol>
			</section>

			<section>
				<h1>공지사항 목록</h1>

				<table border=1>
					<thead>
						<tr>
							<td>번호</td>
							<td>제목</td>
							<td>작성자</td>
							<td>작성일</td>
							<td>조회수</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>10</th>
							<td><a href="">오라클 수업용 테이블 생성용 스크립트</a></td>
							<td>newlec</td>
							<td>2019-10-04</td>
							<td>109</td>
						</tr>
					</tbody>
					<tbody>
						<tr>
							<th>9</th>
							<td><a href="">JSP 수업용 html 파일</a></td>
							<td>newlec</td>
							<td>2019-10-03</td>
							<td>78</td>
						</tr>
					</tbody>
				</table>

				<div>
					<span>1</span> / 1 pages
				</div>

				<div>이전</div>
				<ul>
					<li><a href="">1</a></li>
					<li><a href="">2</a></li>
					<li><a href="">3</a></li>
					<li><a href="">4</a></li>
					<li><a href="">5</a></li>
				</ul>
				<div>다음</div>
			</section>
		</section>
		</main>
	</div>
	<!-- ============= footer =================================== -->
	<footer id="footer"> </footer>
	<!-- ================================================ -->
</body>
</html>